@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  overflow: hidden;
}
img {
  width: 250px;
}

a,
a:visited {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

a:hover {
  color: #e6a463;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  max-width: 90%;
  text-align: center;
}

form {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#email {
  padding: 10px;
  margin-top: 20px;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid #e6a463;
}

#submit {
  background-color: #ffc48a;
  padding: 10px 50px;
  margin-top: 20px;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

#submit:hover {
  background-color: #e6a463;
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav {
    margin-top: 20px;
  }

  #video {
    width: 80%;
  }
}
